a:visited{
    color: black;
    text-decoration: none;
}

a{
    color: black;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

a.active{
    border: 2px solid black;
}